<!DOCTYPE html>
<html>
<head>
	<title>register</title>
</head>
<body>
	<a href="/">main</a>
	<h2>register</h2>
	<hr>
	<form method="post" action="register">
		<input type="text" name="username" placeholder="username" size="30" required><br>
		<input type="text" name="id" placeholder="id" size="30" required><br>
		<input type="password" name="pw" placeholder="password" size="30" required><br>
		<input type="password" name="pw_c" placeholder="password confirmation" size="30" required><br><br>
		<input type="submit" value="register" required>
	</form>
</body>
</html>
